.erai-page {
    background-color: #F0F0F1;
    width: 100%;
    padding-top: 30px;
}

.erai-page :is(h1, h2,h3,h4,h5,h6,p,a,span,label) {
    font-family: -apple-system,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
        
    margin: 0;
    padding: 0;
}

.erai-page-container {
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    margin-right: 40px;
    background-color: #fff;
}

.erai-switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 21px;
  }
  
.erai-switch .erai-switch-checkbox { 
    opacity: 0;
    width: 0;
    height: 0;
}

.erai-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.erai-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.erai-switch-checkbox:checked + .erai-slider {
    background-color: #F06434;
}

.erai-switch-checkbox:focus + .erai-slider {
    box-shadow: 0 0 1px #F06434;
}

.erai-switch-checkbox:checked + .erai-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.erai-slider.round {
    border-radius: 34px;
}

.erai-slider.round:before {
    border-radius: 50%;
}

.erai-table {
    width: 100%;
}

.erai-table .erai-content-td{
    width: 78%;
    padding-right: 4rem;
}


.erai-table .erai-content-td .description-text{
    margin-top: 0.6rem;
}

.erai-table .erai-controll-td  {
    margin-top: 1rem;

}

.erai-table {
    padding: 20px 0;
    border-bottom: 1px solid rgb(226 232 240 / 1);
}

.erai-table .erai-tr {
    padding: 10px 0 20px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(226 232 240 / 1);
    margin: 0 0 10px 0;
}


.erai-page .text-lg {
    font-weight: 500;
    font-size: 1.125rem;
}

.erai-page .description-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 0.6rem;
}   

.erai-page .saveloader-container {
    position: fixed;
    right: 40px;
    top: 30px;
    transition: opacity 0.5s ease;
}

.erai-page .saveloader-container .saveloader {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 15px -2px rgba(0,0,0,0.24); 
    box-shadow: 2px 4px 15px -2px rgba(0,0,0,0.24);
    display: flex;
}



.erai-page .saveloader-container .saveloader .loader {

    -webkit-animation:erai-spin 1.5s linear infinite;
    -moz-animation:erai-spin 1.5s linear infinite;
    animation:erai-spin 1.5s linear infinite;
}


.erai-page  .saveloader-container span {
    display: inline-block;
    margin-left: 10px;
}

@-moz-keyframes erai-spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes erai-spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes erai-spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.erai-controll {
    border: 1px solid;
    outline: none;
    border-color: rgb(209 213 219);
    padding: 0 8px;
    line-height: 2;
    min-height: 30px;
    border-radius: 4px;
    max-width: 150px;
}
